<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="js/vue.js"></script>
</head>
<body>
<div id="example">
    <parent></parent>
</div>
<script type="text/x-template" id="char-room">
    <div>
        <ul>
            <li v-for="item in list">{{item}}</li>
        </ul>
        <hr>
        <lucy @toFather="recEvent"></lucy>
        <mike @toFather="recEvent"></mike>
    </div>
</script>
<script type="text/x-template" id="lucy-template">
    <div>
        <label>lucy： </label>
        <input type="text" v-model="txt1" placeholder="plz input">
        <button @click="sendByLucy">发送</button>
    </div>
</script>
<script type="text/x-template" id="mike-template">
    <div>
        <label>mike： </label>
        <input type="text" v-model="txt2" placeholder="plz input">
        <button @click="sendMike">发送</button>
    </div>
</script>
<script>
    Vue.component('parent',{
        template:'#char-room',
        data: function () {
          return {
              list:[]
          }
        },
        methods:{
            recEvent: function (result) {
                console.log(result);
                this.list.push(result);
            }
        }
    });
     Vue.component('lucy',{
         template:'#lucy-template',
         data: function () {
             return {
                 txt1:''
             }
         },
         methods:{
             sendByLucy: function () {
                 this.$emit('toFather',this.txt1);
             }
         }
     });
     Vue.component('mike',{
         template:'#mike-template',
         data: function () {
             return {
                 txt2:''
             }
         },
         methods:{
             sendMike: function () {
                 this.$emit('toFather',this.txt2);
             }
         }
     });
    new Vue({
        el: '#example',
        data: {
            msg: 'Hello Directive'
        }
    })
</script>
</body>
</html>